
/* Creater :Shivali
Creation date:08/20/2021
Last moified date:08/20/2021*/

  body {background-color: #EEE8AA;color:blue; font-family: Georgia, Garamond,serif; max-width:900px; margin:auto}
  header,footer {background-color:#DEB887;color:black;text-align:center;margin:4px;padding:10px ;height:90px;}
  h1 {font-size: 3em;}
  h3 {font-size:1.5em;font-style:italic;padding: 10px; color: blue;}
  h4,h5,h6 {font-size:1em;font-style:italic;padding: 10px;}
  nav {border-top:2px solid black;border-bottom:2px solid black;margin-top:4px;}
  nav a {background-color: lightgrey;color:black;padding-right:20px;border:thin solid blue;display:block;margin:10px 10px;width:100px;float:left;text-align:center;}
  .jumbotron {background-color:#DEB887; height:10%;}
  a {font-size:1em;font-famiy:monospace;padding:20px 20px;margin:4px;}
   a:active {color:green;}
   a:visited {color:black;}
   a:hover{color:blue;font-weight:bold;}
   a:link {color:grey;}
   
   
     .carousel {
  position: relative;
  background-color:Navy;color: white;
}

.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  
.carosel-item {
  display: inline-block;
}